* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 
}

.containerJS {
    display:inline-flex;
    flex-wrap:wrap;
    justify-content:space-around;
    padding-top: 25px;

}



li {
    display: flex;
    width: 30%;
   margin: 25px;
    padding: 0px;
}

.header-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display:flex;
    justify-content: space-between;
    width: 100%;
    background: #2b54a1;
    color: white;
    padding: 15px;
}

.title {
    float: left;
    font-weight: bold;
    font-size: 18px;
    margin:0;
}
.subject {
   margin:0;
}

.content-container {
    background-color:#11c691;
    padding: 15px;
    color:white;

 }
 .author {
     font-weight:bold;
     margin:0;
 }
 .credentials {
     color:#2b54a1;
     margin-top:5px;
 }
 .short-content,.full-content {
     line-height:1.75em;
 }
.main-container {

    width: 100%;
     border-radius: 10px;
}

.controls-container {
    background-color:#11c691;
    width:100%;
    display:flex;
    padding:15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.edit-button, .read-more {
    background:#2b54a1;
    border:0;
    border-radius:10px;
    padding:15px 30px;
    color:white;
    margin-left:15px;

}

.delete-submit {
    width: 25%;
}

.hidden {
    display : none;
}

textarea {
    resize: none;
}